{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div class="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description | markdownify }}</p>
  </div>

  <div id="action-buttons">
      <a class="button primary big" href="https://github.com/coredns/coredns/releases/latest"><i class="fa fa-download"></i> Download</a>
      <a class="button outline big" href="{{ .Site.Params.github }}"><i class="fa fa-github"></i> View on Github</a>
      <a class="button outline big" href="/manual/toc/"><i class="fa fa-file-o"></i> Manual</a>
      <br/>
      {{ range where .Site.Pages "Params.release" "eq" .Site.Data.coredns.release.version }}
      <p class="big">
        <span class="large">
         <a href="https://github.com/coredns/coredns/releases/latest">Version {{ .Params.release }}</a>. Released {{ dateFormat "2006-01-02" .Date }}.
         <a href="{{ .URL }}">Release notes</a>.
        </span>
      </p>
      {{ end }}
 </div>

    <br/>

  {{ partial "popup.html" . }}

    <div class="row gutters">

      <div class="col col-4 item">
        <figure>
            <i class="fa fa-question-circle fa-5x" aria-hidden="true"></i>
        </figure>

        <h3>What is it?</h3>
        <p>
            CoreDNS is a <a href="https://en.wikipedia.org/wiki/Domain_Name_System">DNS</a> server.
            It is written in <a href="https://golang.org">Go</a>.
            It can be used in a multitude of environments because of its flexibility.
            CoreDNS is licensed under the
            <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License Version 2</a>, and completely open source.
            <br/>
            Development takes place on <a href="https://github.com/coredns/coredns">Github</a>. Some devs hang
            out on <a href="https://slack.cncf.io/">Slack</a> on the #coredns channel.
        </p>
      </div>

      <div class="col col-4 item">
        <figure>
            <i class="fa fa-link fa-5x" aria-hidden="true"></i>
        </figure>

        <h3>Plugins</h3>
        <p>
            CoreDNS chains <a href="/plugins">plugins</a>.
            Each plugin performs a DNS function, such as
            <a href="/plugins/kubernetes">Kubernetes service discovery</a>,
            <a href="/plugins/metrics">prometheus metrics</a>,
            <a href="/plugins/rewrite">rewriting queries</a>, or <i>just</i> serving
            from <a href="/plugins/file">zone files</a>.
            And
            <a href="/plugins/">many</a>
            <a href="/explugins/">more</a>.
        </p>
      </div>

      <div class="col col-4 item">
        <figure>
            <i class="fa fa-circle-thin fa-5x" aria-hidden="true"></i>
        </figure>
        <h3>Simplicity</h3>
        <p>
        We strive to keep things as simple as possible and have sane defaults.
        Here is the <code>Corefile</code> for <code>coredns.io</code>:
        </p>
        <pre>
coredns.io {
 file db.coredns.io.signed {
   transfer to * 185.49.140.62
 }
 sign zones/coredns.io {
  key file Kcoredns.io.+013+16376
 }
}
        </pre>
    </div>

    <div class="row gutters">

      <div class="col col-4 item">
        <figure>
            <i class="fa fa-cloud fa-5x" aria-hidden="true"></i>
        </figure>
        <h3>Service Discovery</h3>
        <p>
        CoreDNS integrates with <a href="https://kubernetes.io">Kubernetes</a> via the
        <a href="/plugins/kubernetes/">Kubernetes plugin</a>,
        or directly with <a href="https://coreos.com/etcd/">etcd</a> with the
        <a href="/plugins/etcd/">etcd plugin</a>.
        </p>
      </div>

      <div class="col col-4 item">
        <figure>
            <i class="fa fa-bolt fa-5x" aria-hidden="true"></i>
        </figure>
        <h3>Fast and Flexible</h3>
        <p>
        We aim to make CoreDNS fast and efficient. It is also flexible thanks to its
        <a href="/plugins">plugins</a>.
        You can compile CoreDNS with only <a href="/2017/07/25/compile-time-enabling-or-disabling-plugins/">the plugins you need</a>.
        </p>
      </div>

      <div class="col col-4 item">
        <figure>
            &nbsp;<br/>
          <img alt="Cloud Native Computing Foundation Logo" src="/images/cncf-logo.png">
        </figure>
        <h3>CNCF</h3>
        <p>
           We are a <a href="https://cncf.io">Cloud Native Computing
           Foundation</a> graduated project.
        </p>
      </div>

    </div>


    <h3 class="hero"><a href="https://github.com/coredns/coredns/blob/master/ADOPTERS.md">Some</a> of Our Users</h3>
    <div class="row logos push-logos-center">
        {{partial "logo" (dict "context" . "url" "k8s.io" "logo" "k8s.png" "alt" "kubernetes home") }}
        {{partial "logo" (dict "context" . "url" "www.mit.edu" "logo" "mit.png" "alt" "mit home") }}
        {{partial "logo" (dict "context" . "url" "infoblox.com" "logo" "infoblox.png" "alt" "infoblox home") }}
        {{partial "logo" (dict "context" . "url" "engineering.skybettingandgaming.com" "logo" "sky.png" "alt" "sbg home") }}
        {{partial "logo" (dict "context" . "url" "getadmiral.com" "logo" "admiral.png" "alt" "admiral home") }}
    </div>

    <br/>

    <div class="row logos push-logos-center">
        {{partial "logo" (dict "context" . "url" "kismia.com" "logo" "kismia.png" "alt" "kismia home") }}
        {{partial "logo" (dict "context" . "url" "www.soundcloud.com" "logo" "soundcloud.png" "alt" "soundcloud home") }}
        {{partial "logo" (dict "context" . "url" "qunar.com" "logo" "qunar.png" "alt" "qunar home") }}
        {{partial "logo" (dict "context" . "url" "tradeshift.com" "logo" "tradeshift.png" "alt" "tradeshift home") }}
    </div>

</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
