{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description | markdownify }}</p>
  </div>

  <div id="action-buttons">
      <a class="button primary big" href="https://github.com/coredns/coredns/releases/latest"><i class="fa fa-download"></i> Download</a>
      <a class="button outline big" href="{{ .Site.Params.github }}"><i class="fa fa-github"></i> View on Github</a>
      <a class="button outline big" href="/2017/07/24/quick-start/"><i class="fa fa-file-o"></i> Quick Start</a>
      <p>
        {{ range where .Site.Pages "Params.release" "eq" .Site.Data.coredns.release.version }}
         <a href="https://github.com/coredns/coredns/releases/latest">Version {{ .Params.release }}</a> released {{ dateFormat "January 2, 2006" .Date }}.
         <a href="{{ .URL }}">Release notes</a>.
        {{ end }}
      </p>
 </div>

  {{ partial "popup.html" . }}

    <div class="row gutters">

      <div class="col col-4 item">
        <figure>
            <i class="fa fa-link fa-5x" aria-hidden="true"></i>
        </figure>

        <h3>Plugins</h3>
        <p>
            CoreDNS (written in <a href="https://golang.org">Go</a>)
            chains <a href="/plugins">plugins</a>.
            Each plugin performs a DNS function, such as
            <a href="/plugins/kubernetes">Kubernetes service discovery</a>,
            <a href="/plugins/metrics">Prometheus metrics</a> or
            <a href="/plugins/rewrite">rewriting queries</a>.
            And
            <a href="/plugins/">many</a>
            <a href="/explugins/">more</a>.
        </p>
      </div>

      <div class="col col-4 item">
        <figure>
            <i class="fa fa-circle-thin fa-5x" aria-hidden="true"></i>
        </figure>
        <h3>Simplicity</h3>
        <p>
        We strive keep things as simple as possible and have sane defaults.
        Here is the <code>Corefile</code> for coredns.io:
        </p>
        <pre>
coredns.io {
    file coredns.io.signed {
        transfer to * 185.49.140.62
    }
    prometheus
    errors
    log
}
        </pre>
      </div>

      <div class="col col-4 item">
        <figure>
            <i class="fa fa-cloud fa-5x" aria-hidden="true"></i>
        </figure>
        <h3>Service Discovery</h3>
        <p>
        CoreDNS integrates with <a href="http://kubernetes.io">Kubernetes</a> via the
        <a href="/plugins/kubernetes/">Kubernetes plugin</a>,
        or directly with <a href="https://coreos.com/etcd/">etcd</a> with the
        <a href="/plugins/etcd/">etcd plugin</a>.
        </p>
      </div>

    </div>

    <div class="row gutters">

      <div class="col col-4 item">
        <figure>
            <i class="fa fa-bolt fa-5x" aria-hidden="true"></i>
        </figure>
        <h3>Fast and Flexible</h3>
        <p>
        We aim to make CoreDNS fast and efficient. It is also flexible thanks to its
        <a href="/plugins">plugins</a>.
        You can even compile CoreDNS with <a href="/2017/07/25/compile-time-enabling-or-disabling-plugins/">only the plugins you need</a>.
        </p>
      </div>

      <div class="col col-4 item">
        <figure>
            &nbsp;<br/>
          <img alt="Cloud Native Computing Foundation Logo" src="/images/cncf-logo.png">
        </figure>
        <h3>CNCF</h3>
        <p>
           We are a <a href="https://cncf.io">Cloud Native Computing
           Foundation</a> member project.
        </p>
      </div>

        <div class="col col-4 item"></div>

    </div>

</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
