{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div class="hero" class="wrap">
    {{ if eq .Type "blog" }}
    <h1> Blog </h1>
        {{ .Site.Data.subtext.blog.content | markdownify }}
        <p></p>
    {{ end }}
</div>

<ul id="posts">

 {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
 <li>
     <section>{{ partial "pagination" .}}</section>
 </li>

</ul>

{{ end }}
{{ define "footer" }} {{ partial "footer" . }} {{ end }}
