<span class="icon">
  {{ $author := index .Site.Params.authors .Params.author }}

  {{ if ne .Site.Params.hide_author true }}
    {{ with .Params.author }}

    <br/>
      {{ $author.name }} 

      {{ if $author.email }}
        <a href="mailto:{{ $author.email }}"><i class="fa fa-envelope"></i></a>
      {{ end }}

      {{ if $author.twitter }}
        <a href="{{ $author.twitter }}"><i class="fa fa-twitter"></i></a>
      {{ end }}

      {{ if $author.github }}
        <a href="{{ $author.github }}"><i class="fa fa-github"></i></a>
      {{ end }}

    {{ end }}

    {{ else }}

    <br/>
      <span itemprop="author">{{ .Site.Params.author }}</span>

  {{ end }}
</span>
