{{ define "title"}} External Plugins {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div id="main">
  <div id="hero">
    <h1>External Plugins</h1>
    {{ .Site.Data.subtext.explugin.content | markdownify }}
    <p></p>

    {{ .Scratch.Set "url1" "/2016/12/19/writing-plugins-for-coredns/" }}
    {{ .Scratch.Set "link1" "Write Plugins" }}
    {{ .Scratch.Set "class1" "primary" }}

    {{ .Scratch.Set "url2" "/2017/07/25/compile-time-enabling-or-disabling-plugins/" }}
    {{ .Scratch.Set "link2" "Enable Plugins" }}
    {{ .Scratch.Set "class2" "primary" }}

    {{ .Scratch.Set "url3" "/2017/07/23/when-should-plugins-be-external/" }}
    {{ .Scratch.Set "link3" "When External" }}
    {{ .Scratch.Set "class3" "outline" }}

    {{ .Scratch.Set "url4" "/2017/07/23/add-external-plugins/" }}
    {{ .Scratch.Set "link4" "Add Yours" }}
    {{ .Scratch.Set "class4" "outline" }}

    {{ partial "plugin-action-button" . }}

  </div>
  <div id="components">
    <div class="row gutters">
      {{ range .Data.Pages.ByWeight }}
      <div class="col col-4 item">
        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        <p>{{ .Params.description | markdownify }}</p>
        <p>
            <i class="fa fa-code-fork" aria-hidden="true"></i> <a href="{{ .Params.repo }} ">Source</a>
            <i class="fa fa-home" aria-hidden="true"></i> <a href="{{ .Params.home }} ">Home</a>

            {{ partial "explugin-default" . }}

        </p>
      </div>
      {{ end }}

    </div>
  </div>
</div>
{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}
