{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div id="main">
  <div id="hero">
    <h1>Middleware</h1>
    {{ .Site.Data.subtext.middleware.content | markdownify }}
    <p></p>

    {{ .Scratch.Add "url1" "/2017/03/01/how-to-add-middleware-to-coredns/" }}
    {{ .Scratch.Add "link1" "How to Write Middleware (2)" }}
    {{ .Scratch.Add "class1" "primary" }}

    {{ partial "middleware-action-button" . }}

  </div>
  <div id="components">
    <div class="row gutters">
      {{ range .Data.Pages.ByWeight }}
      <div class="col col-4 item">
        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        <p>{{ .Params.description | markdownify }}</p>
      </div>
      {{ end }}

    </div>
  </div>
</div>
{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}
