{{ if .Site.Params.popup }}

    <div class="message focus text-center" data-component="message"> <span class="close small"></span>
<!--    Currently we are aware of <mark>issues</mark> with CoreDNS.
        See <a href="https://coredns.io/-">this page</a> for more info.
        -->
    <a href="https://www.cncf.io/event/cloudnativecon-north-america-2017/"><img src="/images/cncf_kubecon-dec-2017.jpg"></a>

    <p>
    Submit to speak about <mark>CoreDNS</mark> at 
    <a href="https://www.cncf.io/event/cloudnativecon-north-america-2017/">CloudNativeCon + KubeCon North America</a>.
    December 6-8 in Austin, TX and connect with the open source cloud native
    community to further the education and advancement of cloud native computing!
    </p>

    </div>

{{ end }}
